<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asipion.pfmoviles">

    <!-- Permiso necesario para acceder a Internet, especialmente importante para Firebase Auth -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFMoviles">

        <!-- Pantalla de bienvenida -->
        <activity android:name=".BienvenidaActividad" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registro -->
        <activity android:name=".RegistroActividad" />
        <activity android:name=".RegistroCorreoActividad" />
        <activity android:name=".RegistroContrasenaActividad" />

        <!-- Inicio de sesión -->
        <activity android:name=".IniciarSesionCorreoActividad" />
        <activity android:name=".IniciarSesionContrasenaActividad" />

        <!-- Selección de divisa y saldo -->
        <activity android:name=".SeleccionarDivisaActividad" />
        <activity android:name=".IngresarSaldoActividad" />

        <!-- Parte Inicio -->
        <activity android:name=".InicioActivity" />

        <!-- Parte Perfil -->
        <activity android:name=".PerfilActivity" />
        <activity android:name=".PerfilFinancieroActivity" />

        <!-- Parte Gráficos -->
        <activity android:name=".GraficosActivity" />

        <!-- Parte Categorías -->
        <activity android:name=".MenuCategoriasActividad" />
        <activity android:name=".ModificarCategoriaActividad" />
        <activity android:name=".CrearCategoriaActividad" />

        <!-- Parte Transacciones -->
        <activity android:name=".AgregarTransaccionActividad" />
        <activity android:name=".AnadirCategoriaActividad" />
        <activity android:name=".catalogoIconoActividad" />
        <activity android:name=".DetalleTransaccionActividad" />

        <!-- Actividad raíz (opcional) -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>